<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>电影</title>
</head>
<script src="/js/jquery-2.1.0.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="/css/bootstrap.css" />
<link rel="stylesheet" type="text/css" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="/css/toubu.css"/>
<link href="/css/style.css" type="text/css" rel="stylesheet" media="all">
<script type="text/javascript">
    setInterval(function() {
        //时间
        var mydate = new Date();
        var year = mydate.getFullYear()
        var month = mydate.getMonth() + 1;
        var data = mydate.getDate();
        var h = mydate.getHours(); //获取当前小时数(0-23)
        var m = mydate.getMinutes(); //获取当前分钟数(0-59)
        var s = mydate.getSeconds(); //获取当前秒数(0-59)
        var cg = year + "/" + month + "/" + data + "     " + h + ":" + m + ":" + s;
        $("#time").html(cg)

    }, 1)
</script>

<style type="text/css">
    body {
        background: #2E323B;
    }

    #but1 {
        color: #515151;
        position: absolute;
        right: 10%;
        top: 25%;
    }

    #but1:hover {
        color: #EB9316;
    }

    #islog:hover {
        cursor: pointer
    }

    #register table tr {
        height: 50px;
    }

    #tuijian {
        width: 50%;
        height: 40px;
        background: -webkit-linear-gradient(left, #111111, #2E323B);
    }

    #jiao {
        float: right;
        width: 50%;
        height: 40px;
        background: -webkit-linear-gradient(right, #111111, #2E323B);
    }

    #jiao strong {
        float: right;
    }

    .piao {
        text-align: center;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        width: 250px;
        padding: 8px;
        line-height: 20px;
        background: #5f5f6d;
    }

    #list {
        height: 45px;
        margin: 0px;
        background: -webkit-linear-gradient(left, #111111, #2E323B);
        line-height: 45px;
    }

    #list strong {
        margin-left: 10px;
        color: whitesmoke;
        font-size: 20px;
    }

    #type {
        margin-left: 10%;
        color: whitesmoke;
    }

    #type select {
        color: black;
    }
</style>

<script type="text/javascript">

    //搜索
    function searhFilm() {
        $("#searForm").submit();
    }

    //翻页
    function gopage(pageIndex) {
        $("#searForm").prop("action","/searchFilm?pageIndex="+pageIndex);
        //把表中的值提交过去
        $("#searForm").submit();
    }

</script>

<body>
<div class="container">
    <div class="row" id="tou">
        <nav class="navbar navbar-default col-lg-12" style="text-align: center;">
            <div class="logo navbar-header" style="width: 90px; height: 51px; padding: 8px;">
                <a href=""><img src="/img/logo.png" style="width: 88px;" height="50.59px" alt="" /></a>
            </div>
            <div class="container-fluid" style="margin-left: 120px; padding: 10px; margin: 0px;">
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul id="ul" class="nav navbar-nav" style="margin-left: 20px;">
                        <li>
                            <a href="/index">首页</a>
                        </li>
                        <li>
                            <a href="/searchFilm">全部电影</a>
                        </li>
                        <li>
                            <a href="we">影城介绍</a>
                        </li>
                    </ul>
                    <div class="navbar-nav container-fluid" style="position: relative;">
                        <form action="/searchFilm" method="post" id="searForm">
                            <div style="margin-left:30px;display: block;">
                                <input id="search" th:value="${film_name}" name="film_name" type="search" placeholder="电影搜索">
                                <span id="but1" class="glyphicon glyphicon-search" onclick="searhFilm();"></span>
                                <font id="time">#</font>
                            </div>
                        </form>
                    </div>

                    <div style="float: right;" id="islog">


                        <img data-toggle='modal' data-target='#login' id="img" src="/img/ht.jpg" class="img-circle" style="width: 40px; margin-right: 10px; height: 40px">
                        <a data-toggle='modal' data-target='#login'>登录</a>&nbsp;&nbsp;

                    </div>
                </div>
            </div>
        </nav>
    </div>
</div>
<div style="margin: 30px;">
</div>
<div class="container" style="padding: 0px;">
    <div id="list">
        <strong>全部电影</strong>
    </div>
</div>
<div id="piao" class="container">
    <table bgcolor="0" align="center">
        <tr>
            <td th:each="film,filmStat:${pageUtil.records}" th:if="${filmStat.index<4}">
                <div style="width: 250px; margin:10px;">
                    <a href="filma?filmId=1"><img th:src="${film.poster_url}" style="width: 250px;height: 380px"/></a>
                    <div class="piao">
                        <a href="filma?filmId=1"><p style="color: white; top: 50px;" th:text="${film.film_name}">南方车站的聚会</p></a>
                        <a href="filma?filmId=1"><p style="color: white; top: 50px;">导演:<span th:text="${film.director}">刁亦男</span></p></a>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td th:each="film,filmStat:${pageUtil.records}" th:if="${filmStat.index>3}">
                <div style="width: 250px; margin:10px;">
                    <a href="filma?filmId=1"><img th:src="${film.poster_url}" style="width: 250px;height: 380px"/></a>
                    <div class="piao">
                        <a href="filma?filmId=1"><p style="color: white; top: 50px;" th:text="${film.film_name}">南方车站的聚会</p></a>
                        <a href="filma?filmId=1"><p style="color: white; top: 50px;">导演:<span th:text="${film.director}">刁亦男</span></p></a>
                    </div>
                </div>
            </td>
        </tr>
    </table>
</div>
</div>
<div class="container" style="text-align: center;">
    <!--分页-->
    <div class="panel-footer" id="fenye" style="margin-top: 20px; text-align: center;background: #2E323B; border: 0px;">
        <nav style="height: 35px;">
            <ul id="pages" class="pagination" style="margin-top:0px;">
                <li id="Previous" th:if="${pageUtil.pageIndex>1}">
                    <a aria-label="Previous" th:href="|javascript:gopage(${pageUtil.pageIndex-1});|">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li th:each="num:${pageUtil.numbers}"><a th:style="${pageUtil.pageIndex==num}?'background-color:#2aabd2;font-weight: bold;':''"
                                                         class='active data' th:href="|javascript:gopage(${num});|" th:text="${num}">XXX</a></li>
                <li id="li" th:if="${pageUtil.pageIndex<pageUtil.pageCount}">
                    <a aria-label="Next" th:href="|javascript:gopage(${pageUtil.pageIndex+1});|">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
        <div class="clearfix"></div>
    </div>
</div>

<!--登录模态框 -->
<div class="modal fade" id="login" style="margin-top: 200px" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="myModalLabel">用户登录</h4>
            </div>
            <div class="text-center" style="margin-top: 15px; text-align: center; margin-bottom: 15px;">
                <table align="center" id="table">
                    <tr>
                        <td align="center" width="80px">
                            <label for="firstname" class="control-label">用户名</label>
                        </td>
                        <td>
                            <input type="text" class="form-control" style="display: inherit;width: 200px;" id="userName" placeholder="请输入用户名">
                        </td>
                    </tr>
                    <tr height="50px">
                        <td align="center" width="80px">
                            <label for="firstname" class="control-label">密码</label>
                        </td>
                        <td>
                            <input type="password" class="form-control" style="display: inherit;width: 200px;" id="userPassword" placeholder="请输入密码">
                        </td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer" style="position:relative;height: 60px; line-height: 60px;">
                <button style="position: absolute; left: 42%;" type="button" class="btn btn-danger" data-dismiss="modal">取消</button>
                <button  id="toLogin" style="position: absolute; left: 52%;" type="button" class="btn btn-success" data-dismiss="modal">登录</button>
                <a style="position: absolute; right: 10%;line-height:50px;" data-dismiss="modal" data-toggle='modal' data-target='#register'>注册</a>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- 是否退出登录 -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="myModalLabel" style="text-align: center;">是否退出登录</h4>
            </div>
            <div class="modal-footer" style="text-align: center;">
                <button id="tui" type="button" class="btn btn-danger">退出登录</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!--注册模态框 -->
<div class="modal fade" id="register" style="margin-top: 200px"  tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="myModalLabel">用户注册</h4>
            </div>
            <div class="text-center" style="margin-top: 15px; text-align: center; margin-bottom: 15px;">
                <table align="center" id="table2">
                    <tr>
                        <td align="center" width="80px">
                            <label for="firstname" class="control-label">昵称</label>
                        </td>
                        <td>
                            <input type="text" class="form-control" style="display: inherit;width: 200px;" id="userName1" placeholder="请输入用户名">
                        </td>
                    </tr>
                    <tr>
                        <td align="center" width="80px">
                            <label for="firstname" class="control-label">用户名</label>
                        </td>
                        <td>
                            <input type="text" class="form-control" style="display: inherit;width: 200px;" id="account" placeholder="请输入账号">
                        </td>
                    </tr>
                    <tr>
                        <td align="center" width="80px">
                            <label for="firstname" class="control-label">密码</label>
                        </td>
                        <td>
                            <input type="password" class="form-control" style="display: inherit;width: 200px;" id="userPassword2" placeholder="请输入密码">
                        </td>
                    </tr>
                    <tr>
                        <td align="center" width="80px">
                            <label for="firstname" class="control-label">确认密码</label>
                        </td>
                        <td>
                            <input type="password" class="form-control" style="display: inherit;width: 200px;" id="userPassword3" placeholder="确认密码">
                        </td>
                    </tr>
                    <tr>
                        <td align="center" width="80px">
                            <label for="firstname" class="control-label">邮箱</label>
                        </td>
                        <td>
                            <input type="email" class="form-control" style="display: inherit;width: 200px;" id="emli" placeholder="邮箱">
                        </td>
                    </tr>
                    <tr>
                        <td align="center" width="80px">
                            <label for="firstname" class="control-label">手机号</label>
                        </td>
                        <td>
                            <input type="text" class="form-control" style="display: inherit;width: 200px;" id="phone" placeholder="手机号">
                        </td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer" style="position:relative;height: 60px; line-height: 60px;">
                <button style="position: absolute; left: 42%;" type="button" class="btn btn-danger" data-dismiss="modal">取消</button>
                <button style="position: absolute; left: 52%;" type="button" class="btn btn-success" id="but66">注册</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
</body>

</html>
