<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>电影详细</title>
</head>
<script src="/js/jquery-2.1.0.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="/css/bootstrap.css" />
<link rel="stylesheet" type="text/css" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="/css/toubu.css"/>
<link href="/css/style.css" type="text/css" rel="stylesheet" media="all">
<script type="text/javascript">
    setInterval(function() {
        //时间
        var mydate = new Date();
        var year = mydate.getFullYear()
        var month = mydate.getMonth() + 1;
        var data = mydate.getDate();
        var h = mydate.getHours(); //获取当前小时数(0-23)
        var m = mydate.getMinutes(); //获取当前分钟数(0-59)
        var s = mydate.getSeconds(); //获取当前秒数(0-59)
        var cg = year + "/" + month + "/" + data + "     " + h + ":" + m + ":" + s;
        $("#time").html(cg)

    }, 1)
</script>

<style type="text/css">
    body {
        background: #2E323B;
    }
    .detailed{
        background: white;
        border-radius:20px;
        padding-bottom: 50px;
    }
    #register table tr {
        height: 50px;
    }

</style>
<body>
<div class="container">
    <div class="row" id="tou">
        <nav class="navbar navbar-default col-lg-12" style="text-align: center;">
            <div class="logo navbar-header" style="width: 90px; height: 51px; padding: 8px;">
                <a href=""><img src="/img/logo.png" style="width: 88px;" height="50.59px" alt="" /></a>
            </div>
            <div class="container-fluid" style="margin-left: 120px; padding: 10px; margin: 0px;">
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul id="ul" class="nav navbar-nav" style="margin-left: 20px;">
                        <li>
                            <a href="/index">首页</a>
                        </li>
                        <li>
                            <a href="/searchFilm">全部电影</a>
                        </li>
                        <li>
                            <a href="we">影城介绍</a>
                        </li>
                    </ul>
                    <div class="navbar-nav container-fluid" style="position: relative;">
                        <div style="margin-left:30px;display: block;">
                            <input id="search" type="search" placeholder="搜索">
                            <span id="but1" class="glyphicon glyphicon-search"></span>
                            <font id="time">#</font>
                        </div>

                    </div>

                    <div style="float: right;" id="islog">
                        <a th:if="${session.loginUser!=null}" href="personal"><img  th:src="${session.loginUser.img_url}" class="img-circle" style="width: 40px; margin-right: 10px; height: 40px"></a>
                        <a th:if="${session.loginUser!=null}" href="personal" th:text="${session.loginUser.user_name}">fuckyou!</a>&nbsp;&nbsp;&nbsp;
                        <button th:if="${session.loginUser!=null}" class="btn btn-danger" data-toggle="modal" data-target="#myModal" style="margin-left: 20px;"><span class=" glyphicon glyphicon-off" style="font-size: 14px; margin-right: 5px;"></span><span >退出</span></button>

                        <img th:if="${session.loginUser==null}" data-toggle='modal' data-target='#login' id="img" src="/img/ht.jpg" class="img-circle" style="width: 40px; margin-right: 10px; height: 40px">
                        <a   th:if="${session.loginUser==null}" data-toggle='modal' data-target='#login'>登录</a>&nbsp;&nbsp;
                    </div>
                </div>
            </div>
        </nav>
    </div>
</div>

<div style="margin: 30px;">

</div>

<div class="container detailed" >
    <div class="container" style="margin-top: 20px;">
        <div><strong id="biaoti" style="font-size: 26px;" th:text="${filmVo.film_name}">XXX</strong>&nbsp;&nbsp;<font style="color: #adadad" th:text="${filmVo.film_time}">(${film.filmTime})</font></div>
        <img style="float: left; display: block; height: 300px; width: 250px; margin-right: 20px;" th:src="${filmVo.poster_url}" />
        <div>
            <div style="padding-top: 15px;line-height: 25px;">
                <p>导演：<font id="daoyan" th:text="${filmVo.director}">XXXX</font></p>
                <p>编剧：<font id="bianju" th:text="${filmVo.screenwriter_name}">XXX}</font></p>
                <p>主演：<font id="zhuyan" th:text="${filmVo.performer_name}">XXX</font></p>
                <p>类型：<font id="leixing" th:text="${filmVo.film_category}">XXX}</font></p>
                <p>语言：<font id="yuyan">中文/英文</font></p>
                <p>首映时间：<font id="shangying" th:text="${filmVo.film_time}">XXX</font></p>
                <p>片长：<font id="pianchang" ><span th:text="${filmVo.play_time}"></span>分钟</font></p>
                <p>描述：<font id="pianchang" th:text="${filmVo.description}">XXX</font></p>
                <strong>
                    <a th:href="|/buy_findRoomInfoByFilmId?film_id=${filmVo.film_id}"|><font class ="btn btn-danger glyphicon glyphicon-shopping-cart">购票 </font></a>
                </strong>
            </div>
        </div>
    </div>
</div>

<!--登录模态框 -->
<div class="modal fade" id="login" style="margin-top: 200px" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="myModalLabel">用户登录</h4>
            </div>
            <div class="text-center" style="margin-top: 15px; text-align: center; margin-bottom: 15px;">
                <form id="loginForm">
                    <table align="center" id="table">
                        <tr>
                            <td align="center" width="80px">
                                <label for="firstname" class="control-label">用户名</label>
                            </td>
                            <td>
                                <input type="text" name="user_account" class="form-control" style="display: inherit;width: 200px;" id="userName" placeholder="请输入用户名">
                            </td>
                        </tr>
                        <tr height="50px">
                            <td align="center" width="80px">
                                <label for="firstname" class="control-label">密码</label>
                            </td>
                            <td>
                                <input type="password" name="user_password" class="form-control" style="display: inherit;width: 200px;"  placeholder="请输入密码">
                            </td>
                        </tr>
                        <tr height="50px">
                            <td align="center" width="80px">
                                <label for="firstname" class="control-label">验证码</label>
                            </td>
                            <td>
                                <input type="text" name="user_code" class="form-control" style="display: inherit;width: 120px;"  placeholder="请输入验证码">
                                <img src="/admin_createImage" id="codeImage"/> <a href="javascript:changeImage();">看不清</a>
                            </td>
                        </tr>
                        <tr height="50px">
                            <td align="center" width="80px" colspan="2">
                                <span style="color: red" id="message"></span>
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
            <div class="modal-footer" style="position:relative;height: 60px; line-height: 60px;">
                <button style="position: absolute; left: 42%;" type="button" class="btn btn-danger" data-dismiss="modal">取消</button>
                <button  onclick="user_login();" style="position: absolute; left: 52%;" type="button" class="btn btn-success">登录</button>
                <a style="position: absolute; right: 10%;line-height:50px;" data-dismiss="modal" data-toggle='modal' data-target='#register'>注册</a>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<!-- 是否退出登录 -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="myModalLabel" style="text-align: center;">是否退出登录</h4>
            </div>
            <div class="modal-footer" style="text-align: center;">
                <button id="tui" type="button" class="btn btn-danger" onclick="user_logout();">退出登录</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<!--注册模态框 -->
<div class="modal fade" id="register" style="margin-top: 200px" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="myModalLabel">用户注册</h4>
            </div>
            <div class="text-center" style="margin-top: 15px; text-align: center; margin-bottom: 15px;">
                <form id="registerForm">
                    <table align="center" id="table2">
                        <tr>
                            <td align="center" width="80px">
                                <label for="firstname" class="control-label">昵称</label>
                            </td>
                            <td>
                                <input type="text" name="user_name" class="form-control" style="display: inherit;width: 200px;" id="userName1" placeholder="请输入用户名">
                            </td>
                        </tr>
                        <tr>
                            <td align="center" width="80px">
                                <label for="firstname" class="control-label">用户名</label>
                            </td>
                            <td>
                                <input type="text" name="user_account" class="form-control" style="display: inherit;width: 200px;" id="account" placeholder="请输入账号">
                            </td>
                        </tr>
                        <tr>
                            <td align="center" width="80px">
                                <label for="firstname" class="control-label">性别</label>
                            </td>
                            <td>
                                <input type="radio" name="sex" value="1" checked>女
                                <input type="radio" name="sex" value="2">男
                            </td>
                        </tr>
                        <tr>
                            <td align="center" width="80px">
                                <label for="firstname" class="control-label">密码</label>
                            </td>
                            <td>
                                <input type="password" name="user_password" class="form-control" style="display: inherit;width: 200px;" id="userPassword2" placeholder="请输入密码">
                            </td>
                        </tr>
                        <tr>
                            <td align="center" width="80px">
                                <label for="firstname" class="control-label">确认密码</label>
                            </td>
                            <td>
                                <input type="password" class="form-control" style="display: inherit;width: 200px;" id="userPassword3" placeholder="确认密码">
                            </td>
                        </tr>
                        <tr>
                            <td align="center" width="80px">
                                <label for="firstname" class="control-label">邮箱</label>
                            </td>
                            <td>
                                <input type="email" name="user_emli"  class="form-control" style="display: inherit;width: 200px;" id="emli" placeholder="邮箱">
                            </td>
                        </tr>
                        <tr>
                            <td align="center" width="80px">
                                <label for="firstname" class="control-label">手机号</label>
                            </td>
                            <td>
                                <input type="text" name="user_phone" class="form-control" style="display: inherit;width: 200px;" id="phone" placeholder="手机号">
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
            <div class="modal-footer" style="position:relative;height: 60px; line-height: 60px;">
                <button style="position: absolute; left: 42%;" type="button" class="btn btn-danger" data-dismiss="modal">取消</button>
                <button onclick="user_register();" style="position: absolute; left: 52%;" type="button" class="btn btn-success">注册</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

</body>
</html>

<script type="text/javascript">

    //用户注册
    function user_register() {
        var data=$("#registerForm").serialize();
        alert(data);
        $.post("/user_register",data,function (result) {
            if(result.code=200){
                alert("注册成功,欢迎您登录购票！");
                window.location.reload();
            }else{
                alert("注册失败");
            }
        });
    }

    //看不清
    function changeImage() {
        $("#codeImage").prop("src","/admin_createImage?time="+new Date());
    }

    //用户登录
    function user_login() {
        var data=$("#loginForm").serialize();
        //alert(data);
        $.post("/user_login",data,function (result) {
            //alert(JSON.stringify(result));
            if(result.code==200){
                alert("登录成功");
                window.location.reload();
            }else{
                $("#message").text(result.msg);
            }
        },"json");
    }

    //用户退出
    function user_logout() {
        $.getJSON("/user_logout",function (result) {
            if(result.code==200){
                alert("退出成功");
                window.location.reload();
            }
        });
    }

</script>