<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.movie.mapper.AdminMapper">
<select id="login"  resultType="Admin">
    select * from admin where account=#{account} and admin_pwd=#{admin_pwd} and is_delete=1
</select>
 

</mapper>