<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.movie.mapper.FilmMapper">

    <select id="findLatestFilms" resultType="Film">
        select DISTINCT film.* from film INNER JOIN play on film.film_id=play.film_id
        where film.is_delete=1 and play.is_delete=1 order by film_time desc limit 0,#{count}
    </select>

    <select id="findFilmsByFilmCategory" resultType="Film">
        select DISTINCT film.* from film INNER JOIN film_and_type ON film.film_id=film_and_type.film_id
                                         INNER JOIN film_category on film_and_type.category_id=film_category.category_id
                                         INNER JOIN play on film.film_id=play.film_id and play.is_delete=1
            and film.is_delete=1 and film_category.category_id=#{category_id} ORDER BY film.film_time desc LIMIT 0,8
    </select>

    <select id="totalcount" resultType="int">
        select COUNT(DISTINCT(film.film_id)) from film
        INNER JOIN play on film.film_id=play.film_id
        where film.is_delete=1 and play.is_delete=1
        <if test="film_name!=null and film_name!=''">
            and film_name like '%${film_name}%'
        </if>
    </select>

    <select id="findFilms" resultType="Film">
        select DISTINCT film.* from film
        INNER JOIN play on film.film_id=play.film_id
        where film.is_delete=1 and play.is_delete=1
        <if test="film_name!=null and film_name!=''">
            and film_name like '%${film_name}%'
        </if>
        limit #{pageStart},#{pageSize}
    </select>

    <!--新增成功之后获取新增成功的ID值-->
    <insert id="addFilm" keyProperty="film_id" useGeneratedKeys="true">
        insert into film values (null,#{film_name},#{film_time},#{director},
                                 #{play_time},#{description},#{poster_url},1)
    </insert>

    <insert id="addFilm_type">
        insert  into film_and_type values(null,#{category_id},#{film_id})
    </insert>

    <insert id="addScreenwriter_film">
        insert  into screenwriter_film values(null,#{film_id},#{screenwriter_id})
    </insert>

    <insert id="addStar">
        insert into star values (null,#{film_id},#{performer_id})
    </insert>


</mapper>