<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.movie.mapper.FilmVoMapper">


    <select id="totalcount" resultType="int">
        select count(*) from film where is_delete=1
    </select>

    <select id="findFilmsVo" resultType="com.movie.vo.FilmVo">
        select film.is_delete,film.film_id,film.film_name,film.director,film.film_time,film.play_time,screenwriter.screenwriter_name,performer.performer_name,film_category.film_category from film INNER JOIN film_and_type on film.film_id=film_and_type.film_id
                                                                                                                                                                                                    INNER JOIN film_category on film_and_type.category_id=film_category.category_id
                                                                                                                                                                                                    INNER JOIN screenwriter_film on film.film_id=screenwriter_film.film_id
                                                                                                                                                                                                    INNER JOIN screenwriter on screenwriter_film.screenwriter_id=screenwriter.screenwriter_id
                                                                                                                                                                                                    INNER JOIN star on film.film_id=star.film_id
                                                                                                                                                                                                    INNER JOIN performer on star.performer_id=performer.performer_id
        order by film.film_id desc limit #{pageStart},#{pageSize}
    </select>

    <select id="findFilmVoById" resultType="com.movie.vo.FilmVo">
        select film.is_delete,film.poster_url,film.description,film.film_id,film.film_name,film.director,film.film_time,film.play_time,screenwriter.screenwriter_name,performer.performer_name,film_category.film_category from film INNER JOIN film_and_type on film.film_id=film_and_type.film_id
                                                                                                                                                                                                                                     INNER JOIN film_category on film_and_type.category_id=film_category.category_id
                                                                                                                                                                                                                                     INNER JOIN screenwriter_film on film.film_id=screenwriter_film.film_id
                                                                                                                                                                                                                                     INNER JOIN screenwriter on screenwriter_film.screenwriter_id=screenwriter.screenwriter_id
                                                                                                                                                                                                                                     INNER JOIN star on film.film_id=star.film_id
                                                                                                                                                                                                                                     INNER JOIN performer on star.performer_id=performer.performer_id
        where film.film_id=#{film_id}
    </select>

    <update id="updateState">
        update film set is_delete=#{is_delete} where film_id=#{film_id}
    </update>



</mapper>